//lora
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

// colors
$primary-color: #4A4A4A;
$primary-color-hover: lighten($primary-color, 10%);
$primary-color-active: lighten($primary-color, 20%);

$secondary-color: #FAF9F6;
$secondary-color-hover: lighten($secondary-color, 10%);
$secondary-color-active: lighten($secondary-color, 20%);

$tertiary-color: #EFDE97;
$tertiary-color-hover: darken($tertiary-color, 10%);
$tertiary-color-active: darken($tertiary-color, 20%);

// Font-weight variables
$font-regular: 400;      // Testi standard
$font-semi-bold: 600;    // Sottotitoli o elementi in evidenza
$font-bold: 700;         // Titoli principali

// Font-size variables
$font-size-h1: clamp(2rem, 1.5rem + 1.5vw, 3.5rem);
$font-size-h2: clamp(1.75rem, 1.25rem + 1.5vw, 3rem);
$font-size-h3: clamp(1.5rem, 1.125rem + 1.2vw, 2rem);
$font-size-h4: clamp(1.25rem, 1rem + 1vw, 1.75rem);
//$font-size-text: clamp(1rem, 0.75rem + 1vw, 1.5rem);
$font-size-text: clamp(0.9rem, 0.7rem + 1vw, 1.3rem);


// Base font setup
body {
    font-family: 'Lora', serif;
    color: $primary-color;
    background-color: $secondary-color;
}

// Heading styles

h1 {
    font-size: $font-size-h1;
    font-weight: $font-bold;
}

h2 {
    font-size: $font-size-h2;
    font-weight: $font-bold;
    margin: 1.3rem 0;
}

h3 {
    font-size: $font-size-h3;
    font-weight: $font-semi-bold; // Specific weight for h3
    margin: 1.1rem 0;
}

h4 {
    font-size: $font-size-h4;
    font-weight: $font-semi-bold; // Specific weight for h4
}

p{
    font-size: $font-size-text;
    font-weight: $font-regular;
    margin: 0.8rem 0;

    transition: all 0.3s ease;
}

// Text styles for paragraphs, links, and list items
a, li, span {
    font-size: $font-size-text;
    font-weight: $font-regular;

    transition: all 0.3s ease;
}

a {
    color: $tertiary-color;

    &:hover,
    &:focus {
        color: $tertiary-color-hover;
    }

    &:active {
        color: $tertiary-color-active;
    }
}

img {
    margin: 2rem 0;
}